<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragmentos :: cabecalho('Resposta ChatGPT')}" />

<body>

    <div class="container">
        <div>
            <h1><b>ChatGPT - Resposta</b></h1>
        </div>
        <div>
            <p><strong>Resposta:</strong> <span th:text="${resposta}"></span></p>
        </div>
        <div>
            <a th:href="@{/form_chatgpt}">Voltar</a>
        </div>
    </div>

</body>

</html>
